input {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #FFFFFF;
    width: 300px;
    height: 50px;
    border-radius: 25px;
}

#toplevelstuff{
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                display: -webkit-box;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: -webkit-flex;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                }
                                
                                #chatlog{
                                    height: 300px;
                                    overflow: auto;
                               }
                                input{
                                padding: 0;
                                margin: 0;
                                list-style: none;
                                display: -webkit-box;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: -webkit-flex;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                }
                                
                                .bottominput {
                        position: fixed; 
                        bottom:0%;
                        font-family: Arial;
                    width:80%;}